{% extends 'base.html' %}

{% block title %}Post Detail{% endblock %}

{% block content %}

    <h2>{{ object.title }}</h2>

    <p>
        {% if object.get_next %}
        [다음 글]<a href='{{object.get_next.get_absolute_url}}'>{{ object.get_next }}</a>
        {% endif %}
        &nbsp; |&nbsp;
        {% if object.get_previous %}
        [이전 글]<a href='{{object.get_previous.get_absolute_url}}'>{{ object.get_next }}</a>
        {% endif %}
    </p>

    <div>
        {{ object.modify_dt }}
    </div>
    <div>
        {{ object.content }}
    </div>

    <br>
    <div>
        <b>TAGS</b> <i class = "fas fa-tag"></i>
        {% load taggit_templatetags2_tags %}
        {% get_tags_for_object object as "tags" %}
        {% for tag in tags %}
        <a href="{% url 'blog:tagged_object_list' tag.name %}">{{tag.name}}</a>
        {% endfor %}
        &emsp;
        <a href="{% url 'blog:tag_cloud' %}"> <span class = "btn btn-info btn-sm">TagCloud</span></a>
    </div>

{% endblock %}